<form action="" method="get">
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <select
      id="pilihKelas"
      name="kelas"
      class="form-select form-select-lg"
      aria-label="Pilih kelas"
    >
      <option value="" selected>Pilih kelas...</option>
      <option value="X">Kelas X</option>
      <optgroup label="Kelas XI">
        <option value="XI-1 – XI-4">Kelas XI-1 sampai XI-4</option>
        <option value="XI-5 – XI-6">Kelas XI-5 sampai XI-6</option>
        <option value="XI-7 – XI-8">Kelas XI-7 sampai XI-8</option>
        <option value="XI-9 – XI-10">Kelas XI-9 sampai XI-10</option>
        <option value="XI-11 – XI-12">Kelas XI-11 sampai XI-12</option>
      </optgroup>
      <optgroup label="Kelas XII">
        <option value="XII-1 – XII-8">Kelas XII-1 hingga XII-8</option>
        <option value="XII-9 – XII-12">Kelas XII-9 hingga XII-12</option>
      </optgroup>
    </select>
  </div>
</form>
